@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to PROG1440 - v04.5</h1>
    <p class="lead">Medical Office site - Continued in Learning Moments as part of PROG1440</p>
    <hr class="my-4">
    <p><a href="https://youtube.com/playlist?list=PL16MVmKNvI0ISYwFLV1ykp9lzzeVlX0H1" target="_blank" class="btn btn-primary btn-lg">Videos Recorded In Learning Moments &raquo;</a> 
    <a href="https://web.microsoftstream.com/browse?q=%23F20_PROG1612" target="_blank" class="btn btn-primary btn-lg">Videos Recorded Last Term &raquo;</a></p>
    <h3>Bootstrap Features Used... Start with the <a target="_blank" href="https://getbootstrap.com/docs/4.3/layout/grid/">Grid System</a></h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dropdown Menus</h2>
        <p>These are used on the Shared, _Layout view file that is providing the Menu at the top of the screen.</p>
        <p><a class="btn btn-outline-primary" target="_blank" href="https://getbootstrap.com/docs/4.3/components/navs/#using-dropdowns">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popovers</h2>
        <p>Mecial History Conditions are displayed in Popovers on the @Html.ActionLink("Patients/Index", "Index", "Patients") view.</p>
        <p><a class="btn btn-outline-primary" target="_blank" href="https://getbootstrap.com/docs/4.3/components/popovers/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Collapse</h2>
        <p>Doctor Specialties are displayed in collapasable div's on the @Html.ActionLink("Doctors/Index", "Index", "Doctors") view. </p>
        <p><a class="btn btn-outline-primary" target="_blank" href="https://getbootstrap.com/docs/4.3/components/collapse/">Learn more &raquo;</a></p>
    </div>
</div>